.CardStatistic {
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
.blue_CardStatistic {
  background-color: #002FD2;
}
.orange_CardStatistic {
  background-color: #FC5B20;
}
.yellow_CardStatistic {
  background-color: #fec000;
}
.green_CardStatistic {
  background-color: #18c3d0cf;
}
.red_CardStatistic {
  background-color: #E72349;
}
.title_CardStatistic {
  font-weight: 500;
  font-size: 14px;
}
.text_CardStatistic {
  font-size: 22px;
  padding: 0 0 22px 0;
  font-weight: 700;
  text-align: center;
}
