.LoginPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #82B284;
}
.LoginPage .btnBtnBase {
  width: auto;
}
.LoginPage .input_LoginPage {
  margin: 0 0 15px 0;
}
