.LoginPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #1A1D1F;
}
.LoginPage .btnBtnBase {
  background-color: #002FD2;
  color: #efefefcc;
}
.LoginPage .btnBtnBase:hover {
  background-color: #002ed290;
}
.LoginPage .input_LoginPage {
  margin: 0 0 15px 0;
}
