.companyProfileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.companyProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.block_companyProfile {
  padding: 20px 40px;
}
.block_companyProfile .CardInfo {
  margin: 0;
}
.block_companyProfile .CardInfo:not(:first-child) {
  margin: 20px 0;
}
/*
.progress_companyProfile {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}*/
.chart_companyProfile {
  height: auto;
  float: right;
  margin: 2% 15% 0 0;
}
.chart_companyProfile canvas {
  width: 310px !important;
  height: 310px !important;
}
.leftBlock_companyProfile {
  float: left;
}
