.iconBtn {
  width: 100%;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  margin: 6px 0;
  padding: 0 4px;
  border-radius: 10px;
}
.iconBtn:hover {
  background: #1cc6d2a6;
}
.clickedIconBtn {
  background: #18c3d0cf;
}
.titleIconBtn {
  color: white;
  font-size: 12px !important;
}
.noBackground {
  background: inherit;
}
.noBackground:hover {
  background: inherit;
}
