.iconBtn {
  width: 100%;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  padding: 0;
}
.iconBtn:hover {
  background: #2222224a;
}
.noBackground {
  background: inherit;
}
.noBackground:hover {
  background: inherit;
}
