@import '../../styles/varibles.less';
@import '../../styles/mixins.less';


table {
    .border();
    padding: 15px;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
    background-color: white;


    td,
    th {
        text-align: center;
        padding: 5px 0;
    }

    th {
        padding: 5px 0 15px 0;
        font-size: 15px;
    }

    tr {
        border-bottom: 1px #0000001c solid;

        td {
            &:first-child {
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }

            &:last-child {
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }

    tbody {    
        tr {
            z-index: 0;
            position: relative;

            &:hover {
                background-color: @color_blue_light2;
            }

            .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
                padding: 5px 10px !important; 
            }

            .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
                padding: 5px 10px !important;
            }
        }

        td {
            font-size: 14px;
            position: relative;
            z-index: 1;
            padding: 5px;
        }
    }
}