.btnBtnBase {
  width: auto;
  cursor: pointer;
  border: none;
  outline: none;
  color: #1A1D1F;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  padding: 10px 20px;
  border-radius: 10px;
  animation-duration: 0.4s;
}
.iconContainer {
  margin: 3px 11px 0 0;
}
.clickedBtnBtnBase {
  background-color: #18c4d0bb;
}
