@import '../../styles/varibles.less';
@import '../../styles/mixins.less';


.SettingsPage {
    width: 100%;
    //margin: 0 auto;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    .paddingCommon();

    h2 {
        margin: 0 0 40px 0;
    }

    .table_SettingsPage {
        margin: 20px 0 0 0;
        //width: 75%;
        margin: 0 auto;

        .btnBtnBase {
            background-color: @color_blue;
            color: white;
            border-radius: 10px;
            margin: 0 auto;
            padding: 12px 40px;
        }

        button {
            text-align: center;
        }
    }
}

.FormEnterNewUser .input_container {
    margin: 0 0 15px 0;
}

.FormEnterNewUser {
    display: flex;
    flex-direction: column;

    .btnBtnBase {
        background-color: @color_blue;
        color: white;
        border-radius: 10px;
        margin: 0 auto;
        padding: 12px 40px;
    }

    button {
        text-align: center;
    }
}
/*
.css-hz1bth-MuiDialog-container {
    padding: 0 0 0 12% !important;
}

.css-ypiqx9-MuiDialogContent-root {
    padding: 40px 80px;
}
*/
.statistics_SettingsPage {
    display: inline-flex;
    padding: 20px;
    margin: 0 0 20px 0;
    width: min-content;
    .border();
    background-color: white;

    .CardStatistic:not(:last-child) {
        margin: 0 25px 0 0;
    }
}
