.ExitPage {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ExitPage .btns_ExitPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ExitPage .btns_ExitPage .btnBtnBase {
  color: #111315;
}
.ExitPage .btns_ExitPage .btnBtnBase:hover {
  background-color: #2cdeb59a;
}
