@import '../../../styles/varibles.less';
@import '../../../styles/mixins.less';


.sideNavContainer {
    min-width: 2%;
    max-width: 10%;
    height: 100%;
    background-color: @color_black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}