.sideNav {
  min-width: 12%;
  background-color: #1A1D1F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px !important;
}
.sideNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*.iconBtn {
        &:hover { 
            background: @color_green_dark;
        }
    }*/
}
