.foundCompanyProfileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}
.foundCompanyProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.block_foundCompanyProfile {
  padding: 20px 40px;
}
.block_foundCompanyProfile .CardInfo {
  margin: 0;
}
.block_foundCompanyProfile .CardInfo:not(:first-child) {
  margin: 20px 0;
}
