.addingNewCompanyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.addingNewCompany {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.input_addingNewCompany {
  display: flex;
  flex-direction: row;
  margin: 0 0 25px 0;
  align-items: center;
}
.block_AddingNewCompany {
  padding: 20px 40px;
}
.block_AddingNewCompany .blockTopNav {
  color: #1A1D1F;
}
/*
.progress_AddingNewCompany {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}*/
.btn_addingNewCompany {
  padding: 0 40px 0 321px;
}
